.comment-block {
    /* display: inline-block; */
    width: 350px;
    /* border: 3px solid #73AD21; */
}


.left {
    float: left;
    width: calc(100% - 200px);
}

.right {
    float: right;
    width: 200px;
}

.wrapper {
    display: grid;
    float: left;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(125px, auto);
    /* grid-gap: .5rem; */
    grid-gap: 100px;
    /* padding-top: 10px; */
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 40px;
  }
/* 
  @media (min-width: 600px) {
    .wrapper { grid-template-columns: repeat(6, 1fr); }
  } */

  /* @media (min-width: 400px) {
    .wrapper { grid-template-columns: repeat(5, 1fr); }
  }

  @media (min-width: 300px) {
    .wrapper { grid-template-columns: repeat(3, 1fr); }
  } */

