.comment-block {
    display: inline-block;
}


.left {
    float: left;
    width: calc(100% - 200px);
}

.right {
    float: right;
    width: 200px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }